<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/header.ejs') %>
<body>
    
    <div class="container mt-3 col-md-5">
    <h4 class="text-center">Add Pricing </h4>
    <form action="/admin/add_pricing" method="POST">
        <div class="mb-3 form-floating">
            <input type="text" class="form-control" placeholder="Tariff" name="tariff" required >
            <label for="floatingInput">Tariff</label>
          </div>
          <div class="mb-3 form-floating">
            <input type="number" step="0.01" class="form-control" placeholder="1 - 30" name="b1_30" required>
            <label for="floatingInput">1 - 30</label>
          </div>
          <div class="mb-3 form-floating">
            <input type="number" step="0.01" class="form-control" placeholder="31 - 60" name="b31_60" required>
            <label for="floatingInput">31 - 60</label>
          </div>
          <div class="mb-3 form-floating">
            <input type="number" step="0.01" class="form-control" placeholder="61 - 90" name="b61_90" required>
            <label for="floatingInput">61 - 90</label>
          </div>
          <div class="mb-3 form-floating">
            <input type="number" step="0.01" class="form-control" placeholder="91 - 120" name="b91_120" required >
            <label for="floatingInput">91 - 120</label>
          </div>
          <div class="mb-3 form-floating">
            <input type="number" step="0.01" class="form-control" placeholder="121 - 180" name="b121_180" required >
            <label for="floatingInput">121 - 180</label>
          </div>
          <div class="mb-3 form-floating">
            <input type="number" step="0.01" class="form-control" placeholder="More than 180" name="more_180" required >
            <label for="floatingInput">More than 180</label>
          </div>
          <div class="mb-3 form-floating">
            <input type="number" step="0.01" class="form-control" placeholder="Fixed Price" name="fixed_price" required >
            <label for="floatingInput">Fixed Price</label>
          </div>
          <div class="col-6 mx-auto d-grid mt-5">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
    </form>
</div>
    <%- include('../partials/footer.ejs') %>
</body>
</html>