<div class="search">
    <label>    
        <input type="text" placeholder="search here" name="search" value="<% if((typeof searchTerm !='undefined' ) && searchTerm) {%><%= searchTerm %><% } %>">
        <i class="fas fa-search"></i>
    </label>
</div>