<div class="navigation">
    <ul>
        <li>
            <a href="/admin">
                <span class="icon"><i class="fas fa-bolt"></i></span>
                <span class="title"> Electro Care</span>
            </a>
        </li>
        <li>
            <a href="/admin">
                <span class="icon"><i class="fas fa-user"></i></span>
                <span class="title">Customers</span>
            </a>
        </li>
        <li>
            <a href="/admin/area_offices">
                <span class="icon"><i class="fas fa-users-cog"></i></span>
                <span class="title"> Area Officers</span>
            </a>
        </li>
        <li>
            <a href="/admin/meter_readers">
                <span class="icon"><i class="fas fa-user-clock"></i></span>
                <span class="title">Meter Readers</span>
            </a>
        </li>
        <li>
            <a href="/admin/complaints">
                <span class="icon"><i class="fas fa-exclamation-circle"></i></span>
                <span class="title">Complaints</span>
            </a>
        </li>
        <li>
            <a href="/admin/pricings">
                <span class="icon"><i class="fas fa-dollar-sign"></i></span>
                <span class="title">Unit Price</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="icon"><i class="far fa-calendar-plus"></i></span>
                <span class="title">Calendar</span>
            </a>
        </li>
        <li>
            <a href="/admin/change_password">
                <span class="icon"><i class="fas fa-cog"></i></span>
                <span class="title">Change Password</span>
            </a>
        </li>
        <li>
            <a href="/admin/admin_auth/logout">
                <span class="icon"><i class="fa fa-sign-out" aria-hidden="true"></i></span>
                <span class="title">Log out</span>
            </a>
        </li>
    </ul>
</div>