<div class="navigation">
    <ul>
        <li>
            <a href="/area_office">
                <span class="icon"><i class="fas fa-bolt"></i></span>
                <span class="title"> Electro Care</span>
            </a>
        </li>
        <li>
            <a href="/area_office">
                <span class="icon"><i class="fas fa-user"></i></span>
                <span class="title">Customers</span>
            </a>
        </li>
        <li>
       
            <a href="/area_office/complaints">
                <span class="icon"><i class="fas fa-exclamation-circle"></i></span>
                <span class="title">Complaints</span>
            </a>
        </li>
        
        <li>
            <a href="/area_office/maintenance">
                <span class="icon"><i class="far fa-calendar-plus"></i></span>
                <span class="title">Maintenance</span>
            </a>
        </li>
        <li>
            <a href="/area_office/change_password">
                <span class="icon"><i class="fas fa-cog"></i></span>
                <span class="title">Change Password</span>
            </a>
        </li>
        <div style="padding-bottom: 3rem;"></div>
        <li>
            <a href="/area_office/area_office_auth/logout">
                <span class="icon"><i class="fa fa-sign-out" aria-hidden="true"></i></span>
                <span class="title">Log out</span>
            </a>
        </li>
    </ul>
</div>