<div class="mb-3">
    <label class="form-label">New Password</label>
    <input type="password" class="form-control rounded-pill" name="new_pw">
</div>

<div class="mb-3">
    <label class="form-label">Confirm New Password</label>
    <input type="password" class="form-control rounded-pill"  name="confirm_pw">
</div>

<% if (typeof messageWarning !="undefined" && messageWarning) { %>
    <div class="alert alert-danger" role="alert">
        <%= messageWarning %>
    </div>
    <% } %>
        <% if (typeof message !="undefined" && message) { %>
            <div class="alert alert-success" role="alert">
                <%= message %>
            </div>
            <% } %>
                <div class="text-center mb-3 mt-5">
                    <button type="submit" class="btn btn-primary rounded-pill"><span class="ms-3 me-3">Change Password</span></button>
                </div>