<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header.ejs') %>

    <body>
        <div class="container col-md-4 mt-3">
            <a href="/">Back</a>
            <h3 class="text-center mb-5">Change Password</h3>
            <form action="/change_password" method="post">
                <%- include('./partials/change_pw_form.ejs') %> <!--Added change password form-->
            </form>
        </div>
        <%- include('./partials/footer.ejs') %>
    </body>

</html>