<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header.ejs') %>

    <body>
        
        <div class="container col-md-4 mt-4">
            <div id="mySidenav" class="sidenav">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <a href="/upload_image"><i class="bi bi-arrow-up-circle"></i> Submit Reading</a>
                <a href="#">Services</a>
                <a href="#">Clients</a>
                <a href="/user_auth/logout">Logout</a>
              </div>
            <div class="row mb-3">
                <div class="col-1"><span onclick="openNav()"><h3><i class="bi bi-list"></i></h3></span></div>
                <% if(typeof results !='undefined' && results) { %>
                <div class="col-9 text-center"><h3>Hi, <%= results[0].name.split(" ")[0] %>  !</h3></div>
                <div class="col-2 text-start"><a href="/notifications" class="bell-button-link"><h3 style="color: #FECE2F;"><i class="bi bi-bell" ></i></h3></a></div>
            </div>
            
            <div class="card shadow p-3 mb-3" style=" border-radius: 25px;background-color: #FECE2F;">
                <div class="card-body text-center">
                    <h5 class="text-center">Submit Your Meter Reading</h5>
                    <div class="pt-3">
                    <a href="/upload_image" type="button" class="btn btn-secondary rounded-pill">Submit Reading</a>
                </div>       
                </div>
              </div>
            <div class="card shadow p-3 mb-3" style="border-radius: 25px;background-color: #FECE2F;">
                <div class="card-body text-center">
                    <h5 class="text-center">Total Amount Payable</h5>
                   
                        <h2 class="pt-3"><span style="font-size:medium;">Rs. </span><%= results[0].balance %>
                        </h2>
                        <% } %>
                        <div class="pt-3">
                        <a href="" type="button" class="btn btn-secondary rounded-pill" >Pay Now</a>
                        <a href="" type="button" class="btn btn-secondary rounded-pill">View Bills</a>
                    </div>
                </div>
              </div>
            
              <a href="/edit_user">Edit user</a>
              <a href="/make_complain">Make Complain</a>
              <a href="/change_password">Change Password</a><br>
              
              <a href="/view_bill">View Bill</a>
              <a href="/view_maintenances">View Bill</a>
                
        </div>

        <%- include('./partials/footer.ejs') %>
        <script>
            function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
            }

            function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
            }
        </script>
    </body>

</html>