<!DOCTYPE html>
<html lang="en">
<%- include('../partials/header.ejs') %>

    <body>
        <div class="container col-md-4 mt-3">
            <div class="row mb-3">
                <div class="col-1"><a href="/meter_reader/settings" class="back-button-link"><h3><i class="bi bi-arrow-left"></i></h3></a></div>
                <div class="col-11 text-center"><h4>Change Password</h4></div>
            </div>
            <div class="card shadow p-3 mb-3" style=" border-radius: 25px;">
                <form action="/meter_reader/change_password" method="post">
                    <%- include('../partials/change_pw_form.ejs') %> <!--Added change password form-->
                </form>
            </div> 
        </div>
        <%- include('../partials/footer.ejs') %>
    </body>

</html>