/* Style the meter reading */
.meter-reading {
	display: block;
	margin: 2em auto;
	border: none;
	padding: 0;
	color: #FECE2F;
	width: 7.5ch;
	background: repeating-linear-gradient(90deg, dimgrey 0, dimgrey 1ch, transparent 0, transparent 1.5ch) 0 100%/ 7ch 2px no-repeat;
	font: 5ch droid sans mono, consolas, monospace;
	letter-spacing: 0.5ch;
  }
  /* End of style the meter reading */
  
  .swal-overlay {
	background-color: rgba(254, 206, 47, 0.45);
  }
  .back-button-link{
	  color: black !important;
	  text-decoration: none ;
  }
  .bell-button-link{
	text-decoration: none ;
	color: #FECE2F !important;
  }

  .sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
  }
  
  .sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 15px;
	color: #FECE2F;
	display: block;
	transition: 0.3s;
  }
  
  .sidenav a:hover {
	color: #f1f1f1;
  }
  
  .sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
  }
