.swal-overlay {
  background-color: rgba(254, 206, 47, 0.45);
}
.back-button-link {
  color: black !important;
  text-decoration: none;
}
.bell-button-link {
  text-decoration: none;
  color: #fece2f !important;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #3b3b3b;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 15px;
  color: #fece2f;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 36px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.btn-secondary {
  color: #fece2f !important;
  background-color: #3b3b3b !important;
  border-color: #3b3b3b !important;
}
.btn-primary{
  color: #3b3b3b !important;
  background-color:  #fece2f!important;
  border-color: #fece2f !important;
  font-weight: 700;
}

.link{
  text-decoration: none;
  color: black!important;
}
